<!DOCTYPE html>
<html lang="en">

<head>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
	
  <body>
    <div th:fragment="header">
    	<nav class="navbar navbar-inverse navbar-fixed-top">
    		<div class="header-icon">Pay My Buddy</div>
			    <ul class="navbar-nav d-flex flex-row">
			      <li class="mx-auto nav-item">
			        <a class="nav-link" href="/home">Home</a>
			      </li>
			      <li class=" mx-auto nav-item px-2">
			        <a class="nav-link" href="/transfer">Transfer</a>
			      </li>
			      <li class="mx-auto nav-item px-2">
			        <a class="nav-link" href="/profile">Profile</a>
			      </li>
			      <li class="mx-auto nav-item px-2">
			        <a class="nav-link" href="/contact">Contact</a>
			      </li>
			      <li class="mx-auto nav-item px-2">
		  			<a class="nav-link" th:href="@{/logout}">Logout</a>  
			      </li>
				</ul>
    	</nav>
    </div>
  </body>
</html>