.index-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo-index {
	width: 50%;
}

.button-green {
	cursor: pointer;
	border-radius: 4px;
	background-color: #6ABC55;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 10px 35px;
	margin: 10px;
}

.button-blue {
	cursor: pointer;
	border-radius: 4px;
	background-color: #0076D9;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 10px 35px;
	margin: 5px;
}

.header-icon {
	border-radius: 4px;
	background: linear-gradient(30deg, #62BA59, #88C34A);
	color: white;
	border: none;
	display: inline-block;
	padding: 10px 35px;
	margin: 5px;
}

.form-icon {
	margin-bottom: 20px;
}

.has-error {
    color: red
}

.header-menu {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.header-link-group {
	display: flex;
	justify-content: right;
	text-align: center;
}

.input-group-text {
	background-color: white !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
	border-right: none !important;
}

.form-control {
	border-left: none !important;
	border-radius: 0 0.25rem 0.25rem 0 !important;
}
