<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
	
	<body>
		<div th:replace="fragments/header :: header">...</div>
		<nav class="bg-light d-flex flex-row align-items-center mb-2">
		    <div class="nav-item">
		        <a class="nav-link text-secondary" href="/home">Home</a>
		      </div>
		      <div class="nav-item">
				<span class="text-primary">/</span>
		      </div>
		      
		      <div class="nav-item active">
		        <a class="nav-link text-primary" href="#">Contact</a>
		      </div>
		</nav>
		<div class="container">
	
		<div class="d-flex w-100 align-items-center justify-content-center">
		<div class="col-sm-6">
	    <div class="card">
	    	<h5 class="card-header">Connection List</h5>
			<table class="table table-striped border my-2">
				<thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
			<tr th:each="contact : ${contacts}">
				<td th:text="${contact.receiverAccount.accountName}"></td>
            </tr>
			</table>
		</div>
		</div>
		
		<div class="col-sm-6">
	    <div class="card">	    
	    	<h5 class="card-header">Create a connection</h5>
		    <form th:action="@{/contact/save}" th:object="${contactRegistration}" method="post" class="my-2 d-flex flex-column align-items-center">  
		      <div class="form-group">
		      	<label for="receiverEmail">Contact Email:</label>
		      	<input type="text" id="receiverEmail" name="receiverEmail" autofocus="autofocus" th:field="*{receiverEmail}" placeholder="Contact Email"/> <br />
		        <span class="has-error" th:if="${#fields.hasErrors('receiverEmail')}" th:errors="*{receiverEmail}"></span>
		      </div>  
		      <div class="form-group">
		      	  <input class="btn btn-primary" type="submit" value="Register" />
		      </div>
		    </form>
		</div>
		</div>
	    </div>	
	   	</div>	  
	</body>

</html>