<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
	
	<div th:replace="fragments/header :: header">...</div>

	<div class="container">
		<table class="table table-striped">
                <thead style="background-color:#5CB95C; color:#ffffff">
                    <tr>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.contact.senderAccount.accountName}"></td>
                        <td th:text="${transaction.contact.receiverAccount.accountName}"></td>
                        <td th:text="${transaction.description}"></td>
                        <td th:text="${transaction.transferredAmount}"></td>
                        <td th:text="${transaction.transactionDate}"></td>
                    </tr>
                </tbody>
       </table>	
	
	</div>

</html>