<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
	<title>Login</title>
</head>

  <body>
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="border border-secondary rounded d-flex flex-column justify-content-center-sm align-items-center col-sm-5">	    
	    	    <div class="header-icon form-icon my-4">Pay My Buddy</div>
	    	    
				    <form th:action="@{/j_spring_security_check}" method="post" class="my-2 d-flex flex-column">
							<div class="input-group form-group my-2">
							  <span class="input-group-text" id="basic-addon1">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
									  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
									</svg>
								</span>
							    <input type="text" class="form-control" id="username" name="username" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
							  </div>				    	
				    		<div class="input-group form-group my-2">
							  <span class="input-group-text" id="basic-addon1">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
								  <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
								</svg>
							  </span>
							    <input type="password" class="form-control"  id="password" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
							</div>				    					    	
				    	<div class="form-group">
				    		<input class="btn btn-primary" type="submit" value="Log in" />
				    	</div>				    	
				    	<div th:if="${param.error}">
        					<div class="alert alert-danger">
            					<span>Incorrect Email or Password</span>
            				</div>
            			</div>
				    </form>
    		</div>
    	</div>
    </div>
  </body>
</html>
