<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
	<body>
	<div th:replace="fragments/header :: header">...</div>

	<nav class="bg-light d-flex flex-row align-items-center mb-2">
		    <div class="nav-item">
		        <a class="nav-link text-secondary" href="/home">Home</a>
		      </div>
		      <div class="nav-item">
				<span class="text-primary">/</span>
		      </div>
		      
		      <div class="nav-item active">
		        <a class="nav-link text-primary" href="#">Profile</a>
		      </div>
	</nav>

	<div class="container">
		<div class="d-flex justify-content-center row align-items-center">
		<div class="d-flex w-100 align-items-center justify-content-center">
		<div class="col-sm-6">
	    <div class="card">
	    	<h5 class="card-header">User Information</h5>
		    <div class="card-body">
			    <form th:action="@{/register/save}" th:object="${userProfile}" method="post" class="my-2 d-flex flex-column">  
			      <div class="form-group">
			      	<label for="email">Email:</label>
			      	<input type="text" id="username" name="username" autofocus="autofocus" th:field="*{email}" th:value="${userProfile.email}" disabled readonly/> <br />
			      </div>  
			      <div class="form-group">
				      <label for="firstName">First Name:</label>
			    	  <input type="text" id="firstName" name="firstName" autofocus="autofocus"  th:field="*{firstName}" th:value="${userProfile.firstName}" disabled readonly/> <br />
			      </div>  
			      <div class="form-group">
				      <label for="lastName">Last Name:</label>
			    	  <input type="text" id="lastName" name="lastName" autofocus="autofocus"  th:field="*{lastName}" th:value="${userProfile.lastName}" disabled readonly/> <br />      
			      </div>
			    </form>
		    </div>
	    </div>
	    </div>
	    
	    <div class="col-sm-6">
	    <div class="card">
	    	<h5 class="card-header">Top up Balance</h5>
	    	<div class="card-body">
		    	<form th:action="@{/profile/balance}" th:object="${balanceForm}" method="post" class="my-2 d-flex flex-column">  
			      <div class="form-group">
			      	<label for="currentBalance">Current Balance</label>
			      	<input type="text" id="currentBalance" name="currentBalance" autofocus="autofocus"  th:field="*{currentBalance}" th:value="${balanceForm.currentBalance}" disabled readonly/> <br />
			      </div>
			      <div class="form-group">
			      	<label for="email">Amount to add:</label>
			      	<input type="number" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" id="balancetoAdd" name="balancetoAdd" autofocus="autofocus" th:field="*{balancetoAdd}"/> <br />
			      </div>  
			      <div class="form-group">
				      	  <input class="btn btn-primary" type="submit" value="Charge" />
				   </div>
			    </form>
		    </div>
			</div>
		</div>			
		</div>
	</div>
	</div>
	</body>



</html>